In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import seaborn as sns

# 1. Data Encoding

In [62]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",Laki-Laki,35.0,0,0,373450,8.0500,NaN,S

In [63]:
df_label_encode = df.copy()
df_one_encode = df.copy()

In [64]:
#label encod
df_label_encode['Sex']= df_label_encode['Sex'].map({'male':0, 'female':1, 'Laki-Laki':0, 'Perempuan':1})
df_label_encode['Embarked']= df_label_encode['Embarked'].map({'S':0, 'C':1, 'Q':2, 'Southampton':0, 'Cherbourg':1, 'Queenstown':2})

In [65]:
# print(df_label_encode.Sex.unique())
df_label_encode.Sex.unique()
df_label_encode.Embarked.unique()

array([ 0.,  1.,  2., nan])

# 2. Agregasi

In [66]:
df.groupby('Pclass')['Age'].mean()

Pclass
1    38.172447
2    30.539253
3    25.538883
Name: Age, dtype: float64

# 3. Normalisasi

In [54]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",Laki-Laki,35.0,0,0,373450,8.0500,NaN,S

In [55]:
scaler = MinMaxScaler()

df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,0.135230,1,0,A/5 21171,0.014151,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.235493,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0.160296,0,0,STON/O2. 3101282,0.015469,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.216694,1,0,113803,0.103644,C123,S
4,5,0,3,"Allen, Mr. William Henry",Laki-Laki,0.216694,0,0,373450,0.015713,NaN,S

#4. Standarization

In [56]:
scaler = StandardScaler()

df[['Age', 'Fare']] = scaler.fit_transform(df[['Age', 'Fare']])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,-0.507906,1,0,A/5 21171,-0.489270,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.502090,1,0,PC 17599,0.738427,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,-0.255407,0,0,STON/O2. 3101282,-0.476328,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.312716,1,0,113803,0.389803,C123,S
4,5,0,3,"Allen, Mr. William Henry",Laki-Laki,0.312716,0,0,373450,-0.473932,NaN,S

#5 Discretization

In [57]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,-0.507906,1,0,A/5 21171,-0.489270,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.502090,1,0,PC 17599,0.738427,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,-0.255407,0,0,STON/O2. 3101282,-0.476328,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.312716,1,0,113803,0.389803,C123,S
4,5,0,3,"Allen, Mr. William Henry",Laki-Laki,0.312716,0,0,373450,-0.473932,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
890,888,1,1,"Graham, Miss. Margaret Edith",female,-0.697280,0,0,112053,-0.053089,B42,S
891,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,-0.178671,NaN,S
892,890,1,1,"Behr, Mr. Karl Howell",male,-0.255407,0,0,111369,-0.053089,C148,C
893,891,0,3,"Dooley, Mr. Patrick",male,0.123341,0,0,370376,-0.479684,NaN,Q
894,891,0,3,"Dooley, Mr. Patrick",male,0.123341,0,0,370376,-0.479684,NaN,Q

In [58]:
df['AgeGroup'] = pd.cut(df['Age'], bins=[0,18,35,60,100], labels=['muda', 'dewasa','tua', 'dewasa tua'])

In [59]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,-0.507906,1,0,A/5 21171,-0.489270,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.502090,1,0,PC 17599,0.738427,C85,C,muda
2,3,1,3,"Heikkinen, Miss. Laina",female,-0.255407,0,0,STON/O2. 3101282,-0.476328,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.312716,1,0,113803,0.389803,C123,S,muda
4,5,0,3,"Allen, Mr. William Henry",Laki-Laki,0.312716,0,0,373450,-0.473932,NaN,S,muda

In [60]:
df.AgeGroup.value_counts()

AgeGroup
muda          309
dewasa          0
tua             0
dewasa tua      0
Name: count, dtype: int64